In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm

%matplotlib inline

import warnings
warnings.filterwarnings("ignore", category = RuntimeWarning)

train = pd.read_csv('/content/drive/MyDrive/Competition/data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Competition/data/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/Competition/data/sample_submission.csv')

In [4]:
train.shape, test.shape

((2952, 15), (1022, 14))

In [5]:
train.head()

    단지코드  총세대수 임대건물구분  ... 도보 10분거리 내 버스정류장 수 단지내주차면수   등록차량수
0  C2483   900    아파트  ...                3.0  1425.0  1015.0
1  C2483   900    아파트  ...                3.0  1425.0  1015.0
2  C2483   900    아파트  ...                3.0  1425.0  1015.0
3  C2483   900    아파트  ...                3.0  1425.0  1015.0
4  C2483   900    아파트  ...                3.0  1425.0  1015.0

[5 rows x 15 columns]

In [6]:
test.head()

    단지코드  총세대수  ... 도보 10분거리 내 버스정류장 수 단지내주차면수
0  C1072   754  ...                2.0   683.0
1  C1072   754  ...                2.0   683.0
2  C1072   754  ...                2.0   683.0
3  C1072   754  ...                2.0   683.0
4  C1072   754  ...                2.0   683.0

[5 rows x 14 columns]

In [7]:

train.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '자격유형',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수', '등록차량수'
]

test.columns = [
    '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수', '자격유형',
    '임대보증금', '임대료', '지하철', '버스',
    '단지내주차면수'
]

In [8]:
train.head()

    단지코드  총세대수 임대건물구분    지역  공급유형  ...     임대료  지하철   버스 단지내주차면수   등록차량수
0  C2483   900    아파트  경상북도  국민임대  ...  103680  0.0  3.0  1425.0  1015.0
1  C2483   900    아파트  경상북도  국민임대  ...  103680  0.0  3.0  1425.0  1015.0
2  C2483   900    아파트  경상북도  국민임대  ...  184330  0.0  3.0  1425.0  1015.0
3  C2483   900    아파트  경상북도  국민임대  ...  184330  0.0  3.0  1425.0  1015.0
4  C2483   900    아파트  경상북도  국민임대  ...  184330  0.0  3.0  1425.0  1015.0

[5 rows x 15 columns]

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   단지코드      2952 non-null   object
 1   총세대수      2952 non-null   int64
 2   임대건물구분    2952 non-null   object
 3   지역        2952 non-null   object
 4   공급유형      2952 non-null   object
 5   전용면적      2952 non-null   float64
 6   전용면적별세대수  2952 non-null   int64
 7   공가수       2952 non-null   float64
 8   자격유형      2952 non-null   object
 9   임대보증금     2383 non-null   object
 10  임대료       2383 non-null   object
 11  지하철       2741 non-null   float64
 12  버스        2948 non-null   float64
 13  단지내주차면수   2952 non-null   float64
 14  등록차량수     2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [24]:
train.describe()

              총세대수         전용면적  ...      단지내주차면수        등록차량수
count  2952.000000  2952.000000  ...  2952.000000  2952.000000
mean    886.661247    44.757215  ...   601.668360   559.768293
std     513.540168    31.874280  ...   396.407072   433.375027
min      26.000000    12.620000  ...    13.000000    13.000000
25%     513.500000    32.100000  ...   279.250000   220.000000
50%     779.000000    39.930000  ...   517.000000   487.000000
75%    1106.000000    51.562500  ...   823.000000   770.000000
max    2568.000000   583.400000  ...  1798.000000  2550.000000

[8 rows x 8 columns]

In [10]:
train.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          0
임대보증금       569
임대료         569
지하철         211
버스            4
단지내주차면수       0
등록차량수         0
dtype: int64

In [11]:
train[train.임대보증금.isnull()].공급유형.value_counts()

임대상가    562
공공분양      7
Name: 공급유형, dtype: int64

In [12]:
test.isnull().sum()

단지코드          0
총세대수          0
임대건물구분        0
지역            0
공급유형          0
전용면적          0
전용면적별세대수      0
공가수           0
자격유형          2
임대보증금       180
임대료         180
지하철          42
버스            0
단지내주차면수       0
dtype: int64

In [13]:
test[test.임대보증금.isnull()].공급유형.value_counts()

임대상가    177
영구임대      3
Name: 공급유형, dtype: int64

In [25]:
# 임대보증금, 임대료 '-'값 제거
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

In [14]:
# 임대보증금, 임대료 결측치 채우기
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

In [15]:
# 지하철역, 보스정류장 결측치 채우기 
cols = ['지하철', '버스']
train[cols] = train[cols].fillna(0)
test[cols] = test[cols].fillna(0)

In [16]:
train.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철         0
버스          0
단지내주차면수     0
등록차량수       0
dtype: int64

In [17]:
# test 자격유형 확인
test[test.자격유형.isnull()]

      단지코드  총세대수 임대건물구분    지역  공급유형  ...     임대보증금    임대료  지하철   버스 단지내주차면수
196  C2411   962    아파트  경상남도  국민임대  ...  71950000  37470  0.0  2.0   840.0
258  C2253  1161    아파트   강원도  영구임대  ...   2249000  44770  0.0  2.0   173.0

[2 rows x 14 columns]

In [18]:
test[test.단지코드 == 'C2411']

      단지코드  총세대수 임대건물구분    지역  공급유형  ...     임대보증금     임대료  지하철   버스 단지내주차면수
193  C2411   962    아파트  경상남도  국민임대  ...  11992000  100720  0.0  2.0   840.0
194  C2411   962    아파트  경상남도  국민임대  ...  11992000  100720  0.0  2.0   840.0
195  C2411   962    아파트  경상남도  국민임대  ...  11992000  100720  0.0  2.0   840.0
196  C2411   962    아파트  경상남도  국민임대  ...  71950000   37470  0.0  2.0   840.0
197  C2411   962    아파트  경상남도  국민임대  ...  21586000  171480  0.0  2.0   840.0

[5 rows x 14 columns]

In [19]:
test.loc[test.단지코드.isin(['C2411']) & test.자격유형.isnull(), '자격유형'] = 'A'

In [20]:
test[test.단지코드=='C2253'].head()

      단지코드  총세대수 임대건물구분   지역  공급유형  ...    임대보증금    임대료  지하철   버스 단지내주차면수
258  C2253  1161    아파트  강원도  영구임대  ...  2249000  44770  0.0  2.0   173.0
259  C2253  1161    아파트  강원도  영구임대  ...  3731000  83020  0.0  2.0   173.0
260  C2253  1161    아파트  강원도  영구임대  ...  3731000  83020  0.0  2.0   173.0
261  C2253  1161     상가  강원도  임대상가  ...        0      0  0.0  2.0   173.0
262  C2253  1161     상가  강원도  임대상가  ...        0      0  0.0  2.0   173.0

[5 rows x 14 columns]

In [21]:
test.loc[test.단지코드.isin(['C2253']) & test.자격유형.isnull(), '자격유형'] = 'C'

In [22]:
test.isnull().sum()

단지코드        0
총세대수        0
임대건물구분      0
지역          0
공급유형        0
전용면적        0
전용면적별세대수    0
공가수         0
자격유형        0
임대보증금       0
임대료         0
지하철         0
버스          0
단지내주차면수     0
dtype: int64

In [23]:
# 중복값 확인하기
train.shape, train.drop_duplicates().shape

((2952, 15), (2632, 15))

In [26]:
test.shape, test.drop_duplicates().shape

((1022, 14), (949, 14))

In [27]:
# 중복값 제거하기
train = train.drop_duplicates()
test = test.drop_duplicates()ㅠ

In [28]:
# 단지코드별 항목개수 알아보기
train.groupby(['단지코드']).nunique(dropna=False)

       총세대수  임대건물구분  지역  공급유형  전용면적  ...  임대료  지하철  버스  단지내주차면수  등록차량수
단지코드                                 ...
C1000     1       1   1     1     5  ...    3    1   1        1      1
C1004     1       2   1     2    15  ...    3    1   1        1      1
C1005     1       1   1     1     3  ...    3    1   1        1      1
C1013     1       1   1     1     4  ...    3    1   1        1      1
C1014     1       1   1     1     6  ...    4    1   1        1      1
...     ...     ...  ..   ...   ...  ...  ...  ...  ..      ...    ...
C2663     1       1   1     1     5  ...    4    1   1        1      1
C2666     1       1   1     1     4  ...    2    1   1        1      1
C2670     1       1   1     1     4  ...    3    1   1        1      1
C2680     1       1   1     1     2  ...    2    1   1        1      1
C2692     1       1   1     1     3  ...    3    1   1        1      1

[423 rows x 14 columns]

In [29]:
train.groupby(['단지코드']).nunique(dropna=False).sum(axis=0)

총세대수         423
임대건물구분       456
지역           423
공급유형         488
전용면적        1898
전용면적별세대수    2230
공가수          423
자격유형         510
임대보증금       1277
임대료         1289
지하철          423
버스           423
단지내주차면수      423
등록차량수        423
dtype: int64

In [ ]:
# 임대건물구분, 공급유형, 전용면적, 전용면적별세대수, 자격유형, 임대보증금, 임대료는 하나의 단지코드에 대해 둘 이상의 항목이 존재함.
# 변수로 만들기

# 단지코드 별 집계하기

In [31]:
# 하나의 단지코드에 하나의 값만 존재하는 변수들

unique_cols = ['총세대수', '지역', '공가수', 
               '지하철',
               '버스',
               '단지내주차면수', '등록차량수']
train_agg = train.set_index('단지코드')[unique_cols].drop_duplicates()
test_agg = test.set_index('단지코드')[[col for col in unique_cols if col!='등록차량수']].drop_duplicates()

In [32]:
train_agg

       총세대수       지역   공가수  지하철   버스  단지내주차면수   등록차량수
단지코드
C2483   900     경상북도  38.0  0.0  3.0   1425.0  1015.0
C2515   545     경상남도  17.0  0.0  3.0    624.0   205.0
C1407  1216    대전광역시  13.0  1.0  1.0   1285.0  1064.0
C1945   755      경기도   6.0  1.0  3.0    734.0   730.0
C1470   696     전라북도  14.0  0.0  2.0    645.0   553.0
...     ...      ...   ...  ...  ...      ...     ...
C2586    90  제주특별자치도   7.0  0.0  3.0     66.0    57.0
C2035   492      강원도  24.0  0.0  1.0    521.0   246.0
C2020    40    부산광역시   7.0  1.0  2.0     25.0    19.0
C2437    90     충청북도  12.0  0.0  1.0     30.0    16.0
C2532   239      강원도   7.0  0.0  1.0    166.0   146.0

[423 rows x 7 columns]

In [33]:
test_agg

       총세대수       지역   공가수  지하철    버스  단지내주차면수
단지코드
C1072   754      경기도  14.0  0.0   2.0    683.0
C1128  1354      경기도   9.0  0.0   3.0   1216.0
C1456   619    부산광역시  18.0  0.0  16.0    547.0
C1840   593     전라북도   7.0  0.0   3.0    543.0
C1332  1297      경기도  11.0  0.0   2.0   1112.0
...     ...      ...   ...  ...   ...      ...
C2456   349  제주특별자치도  17.0  0.0   4.0    270.0
C1266   596     충청북도  35.0  0.0   1.0    593.0
C2152   120      강원도   9.0  0.0   1.0     40.0
C1267   675     경상남도  38.0  0.0   1.0    467.0
C2189   382     전라북도  45.0  0.0   2.0    300.0

[150 rows x 6 columns]

In [34]:
# 하나의 단지코드에 둘 이상의 값이 존재하는 변수들을 확인하기 위해서 함수만들기
def reshape_cat_features(data, cast_col, value_col):
    res = data.drop_duplicates(['단지코드', cast_col]).assign(counter=1).pivot(index='단지코드', columns=cast_col, values=value_col).fillna(0)
    res.columns.name = None
    res = res.rename(columns={col:cast_col+'_'+col for col in res.columns})
    return res

In [35]:
# 1. 임대건물 구분하기
reshape_cat_features(data=train, cast_col='임대건물구분', value_col='counter')

       임대건물구분_상가  임대건물구분_아파트
단지코드
C1000        0.0         1.0
C1004        1.0         1.0
C1005        0.0         1.0
C1013        0.0         1.0
C1014        0.0         1.0
...          ...         ...
C2663        0.0         1.0
C2666        0.0         1.0
C2670        0.0         1.0
C2680        0.0         1.0
C2692        0.0         1.0

[423 rows x 2 columns]

In [36]:
# 2. 공급유형
pd.concat([train.공급유형.value_counts(), test.공급유형.value_counts()], axis=1)

           공급유형   공급유형
국민임대       1730  619.0
임대상가        285  112.0
공공임대(10년)   203   34.0
행복주택        203  121.0
영구임대        149   44.0
공공임대(50년)    31   13.0
공공임대(분납)     12    6.0
장기전세          9    NaN
공공분양          7    NaN
공공임대(5년)      3    NaN

In [37]:
# 공공임대 5년/10년/분양/분납 별로 합치기, 장기전세/국민임대 합치기
train.loc[train.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
train.loc[train.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'
test.loc[test.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'

In [39]:
set(train.공급유형)

{'공공임대(50년)', '공공임대(5년/10년/분납/분양)', '국민임대/장기전세', '영구임대', '임대상가', '행복주택'}

In [40]:
reshape_cat_features(data=train, cast_col='공급유형', value_col='counter')

       공급유형_공공임대(50년)  공급유형_공공임대(5년/10년/분납/분양)  ...  공급유형_임대상가  공급유형_행복주택
단지코드                                            ...
C1000             0.0                      0.0  ...        0.0        0.0
C1004             0.0                      0.0  ...        1.0        0.0
C1005             0.0                      0.0  ...        0.0        0.0
C1013             0.0                      0.0  ...        0.0        0.0
C1014             0.0                      0.0  ...        0.0        0.0
...               ...                      ...  ...        ...        ...
C2663             0.0                      0.0  ...        0.0        0.0
C2666             0.0                      0.0  ...        0.0        0.0
C2670             0.0                      0.0  ...        0.0        0.0
C2680             0.0                      0.0  ...        0.0        0.0
C2692             0.0                      0.0  ...        0.0        0.0

[423 rows x 6 columns]

In [41]:
pd.concat([train.자격유형.value_counts(),  test.자격유형.value_counts()], axis=1)
# 'B', 'F','O'는 test셋에 없음을 확인.

   자격유형   자격유형
A  1775  569.0
D   292  114.0
H   154   92.0
J   105   81.0
C    92   35.0
I    49    7.0
E    37   10.0
K    33   16.0
L    33   12.0
N    29   10.0
B    18    NaN
G     9    1.0
F     3    NaN
M     2    2.0
O     1    NaN

In [42]:
train.loc[train.자격유형=='B', ['임대건물구분', '공급유형']].drop_duplicates()

   임대건물구분       공급유형
26    아파트  국민임대/장기전세

In [ ]:
https://dacon.io/competitions/official/235745/codeshare/2958?page=1&dtype=recent
https://dacon.io/competitions/official/235745/codeshare/2851?page=1&dtype=recent